.theater-list-page {
  padding-bottom: 40px;
}

.page-title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
}

.theater-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.no-theaters {
  padding: 30px;
  text-align: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  color: var(--light-text);
}
